/* GENERAL */

body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    padding: 50px;
    background: linear-gradient(45deg, #37BAAF, #f3e946) center center no-repeat;
    line-height: 1.4;
}

.row {
    margin: 0; /* No space between rows and their content */
}

.title {
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}

.item {
    margin: 40px 10px;
    background-color: #fff;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
    transition: transform 0.3s;
    transform: translate3d(0, -1px, 0);
}

.item:hover  {
    transform: translate3d(0, -10px, 0);
}

.item img {
    display: block;
    width: 100%;
    height: 300px;
}

.item__body {
    padding: 25px;
}

.item__title {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #232323;
}

.item__description {
    color: #585858;
}

.item__image {
    opacity: 0.9;
}

.items {
    position: relative;
}

/**
CAROUSEL
 */
.carousel {
    position: relative;
}

.carousel__container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carousel__container::after {
    content: '';
    clear: both;
    display: table;
}

.carousel__item {
    float: left;
}

.carousel__next, .carousel__prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #FFF url(right.svg) center center no-repeat;
    background-size:  20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: -20px;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.2)
}

.carousel__prev {
    background-image: url(left.svg);
    right: auto;
    left: -20px;
}

.carousel__next--hidden, .carousel__prev--hidden {
    opacity: 0;
}

.carousel__pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}

.carousel__pagination__button {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    box-shadow: 0 2px 5px #3232321a;
    transition: transform 0.3s;
    cursor: pointer;
}

.carousel__pagination__button--active, .carousel__pagination__button:hover {
    transform: scale(1.4);
}

@media screen and (min-width: 800px) {
    .carousel__pagination {
        display: block;
    }
    #station-informations-table{
        height: 400px;
    }
    #validate-order-button {
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    .signature {
        padding: 0 !important;
    }

    .item img {
        height: 600px !important;
    }
}

@media screen and (min-width: 850px) {
    .signature {
        padding: 20px !important;
    }
    form button.btn.btn-success {
        margin-right: 10px;
    }

    .item img {
        height: 800px !important;
    }
}



/* GOOGLE MAP */

.googlemap__api {
    height: 800px;
    margin: 0;
    padding: 0;
}


/* Table Information Station */

table th{
    color:rgb(33, 33, 33);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:24px;
    font-weight:300;
    padding: 10px 0 10px 20px;
    text-align: left;
}

#station-informations-table{
    height: 370px;
}

.info-station{
    padding: 5px;
}

.info-station-titles{
    width: 40%;
    padding-left: 20px;
}

.info-reservation-titles{
    width: 30%;
}

.row .col {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

table.white.striped {
    border-radius: 5px;
    background-color: white;
    width: 100%;
}


th.center-align {
    text-align: center;
    border-bottom: 1px solid #237CFD;
}

table.striped > tbody > tr:nth-child(odd) {
    background-color: #f2f2f2;
}



/** CANVAS **/

canvas {
    width: 100%;
    border-radius: 4px;
    margin-top: .5em;
    margin-bottom: 1em;
}

.signature {
    border-radius: 5px;
    background-color: white;
    right: auto;
    left: auto;
    padding: 20px;
    margin-top : 20px;
}

/** BUTTONS **/

form button.btn.btn-success,
form button.btn.btn-primary {
    float: right !important;
}

/** FOOTER **/

#votre-reservation {
    padding-top: 20px;
}

.reservation-title {
    color: white;
}

#reservation-status,
#countdown-status {
    margin-left: 20px;
}

#votre-reservation > div > div > div.control-container > button {
    float: right;
    margin: 0 10px 10px 0;
}

.card-body,
#reservation-status,
#countdown-status {
    color: white;
}